@model IEnumerable<RenewedApartmentThingy.Agent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Agent Name
        </th>
        <th>
            Agent Number
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AgentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AgentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AgentID })
            </td>
        </tr>
    }

</table>
