@model IEnumerable<RenewedApartmentThingy.ApartmentType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Apartment Type Name
        </th>
        <th>
            Apartment Type Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentTypeDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ApartmentTypeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ApartmentTypeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ApartmentTypeID })
            </td>
        </tr>
    }

</table>
